{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block body_block %}

<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}

                            {{ form|crispy }}

                            <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</main>

{% endblock %}